.bt-s-loader {
  .bt-s-main-banner {
    @include bt-skeleton;
    height: 360px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: $spacing-3;
  }
  .bt-s-section,
  .bt-s-flash-sale {
    @include bt-skeleton;
    border-radius: 3px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: $spacing-5;
    margin-top: $spacing-5;
  }
  .bt-s-menu-grid {
    height: 80px;
  }
  .bt-s-flash-sale {
    height: 320px;
  }
  .bt-s-product-default {
    height: 240px;
  }
  @media (max-width: 767.98px) {
    .bt-s-main-banner {
      height: 240px;
    }
  }
}
